<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <form class="container" action="/blockchain/mine" method="post">
        <span>Người Gửi </span>
        <input type="text" placeholder="Author" name="from">
        <br>
        <span>Người Nhận </span>
        <input type="text" placeholder="Reciver" name="to">
        <br>

        <span>Tổng Số Tiền</span>
        <input type="text" placeholder="Amount" name="amount">
        <br>

        <button type="submit">Gửi Tiền</button>
    </form>
</body>
</html>